FROM python:3.11-slim

WORKDIR /app

COPY requirements.txt .
RUN pip install --no-cache-dir -r requirements.txt

COPY . .

# Koyeb PORT env variable use karega, bot.py andar se PORT env read karta hai
EXPOSE 8000

CMD ["python", "bot.py"]
